.container-fluid.pl-0.pr-0
    .container-fluid.bg-dark
        .container-xxl
            include footer/footer-menu
    .container-fluid.footer-c(style="height:50px")
        .container-xxl
            include footer/footer-c
