.container-fluid.pl-0.pr-0
    .container-fluid.bg-dark
        .container-xxl.pl-0.pr-0
            include footer/footer-menu
    .container-fluid
        .container-xxl.footer-c
            include footer/footer-c
