.container-fluid.bg-primary.d-none.d-md-block
    .container-xxxl
        span menu
    .container-xxxl
        .row
            .col logo
            .col search
            .col suppliers&nbspportal
            .col basket
    .container-xxxl
        span equipment
//mobile menu
.container-xxxl.bg-secondary.d-block.d-md-none
    .row
        .col-2 burger
        .col-4 logo&#8209;m
        .col-2 search&#8209;m
        .col-2 phone&#8209;m
        .col-2 basket&#8209;m
