.row
    .col.d-none.d-md-block
        include main/target-offers
    .col-md
        include main/portfolio
    .col-lg
        include main/sale
.row
    .col-md
        include main/brands
.row
    .col-md
        include main/spec-offers
    .col-md
        include main/service