.list-group, .list-group-item {

}

.list-group {
}

.list-group-item {
}

.footer {
  color : white;
}

.footer_li-gr, .footer_li-gr-item {
  color      : white;
  background : none;
  border     : none;
}

.footer_li-gr-item {
  margin-bottom : 0.27rem;
}

.footer-menu {
  padding-top     : 5.6rem;
  padding-bottom  : 5.6rem;
  display         : flex;
  justify-content : space-between;
}

.footer-menu__h {
  color         : #666666;
  font-size     : 1.5rem;
  margin-bottom : 1.9rem;
}

.footer-menu__col {
  flex-grow : 0 !important;
}

.footer-menu__contacts-ul {
  margin-top    : 0.5rem;
  margin-bottom : 0.5rem;
  list-style    : none;
  padding-left  : 0;
}

.footer-c {
  background : black;

}

.footer-c__content {
  color           : white;
  display         : flex;
  align-items     : center;
  justify-content : space-between;

  span {
    display : inline-block;
  }
}
