@import "../mixins/media";

html, body {
  width  : 100%;
  height : 100%;

  article {
    min-height            : 100%;
    display               : grid;
    grid-template-rows    : auto 1fr auto;
    grid-template-columns : 100%;
  }
}

.container-xxl {
  @include _less-than_1569-98 {
    width         : 100% !important;
    padding-right : 1rem;
    padding-left  : 1rem;
  }

  @include _more-than_1570 {
    width         : 1570px;
    margin-left   : auto;
    margin-right  : auto;
    padding-right : 1rem;
    padding-left  : 1rem;
  }
}

.list-group, .list-group-item {

}

.list-group {
}

.list-group-item {
  padding : 0;
}
.link{
  text-decoration: none;
  transition-property: color;
  transition-duration: .8s;
}
.link:hover{
  text-decoration: none;
}
.link-wh{
  color: white;
  &:hover{
    color: gray;
  }
}
.link-k{
  color: black;
}
.lonk-gray{
  color: #7c7c7c;
}