extends common/layout
block favicon
    include common/favicon
block title
    title Template: Pug-SCSS-JS-Gulp
prepend styles
    include includes/index/bs_4-5-3_styles

block content
    .container-xxxl.bg-danger

        block main
            include includes/index/main
        .container-xxl
            block news
                p news
            block advice
                p advice
            block solutions
                p sulutions
            block clients
                p clients

prepend body_scripts
    include  includes/index/bs_4-5-3_scripts
append body_scripts
    script(src='js/sayHi.js')
