ul
    li
        a Тепловое
    li
        a Холодильное
    li
        a Электромеханическое
    li
        a Посудомоечное
    li
        a Хлебопекарное
    li
        a Линии раздачи
    li
        a Нейтральное
    li
        a Для залов
    li
        a Вспомогательное
    li
        a Для магазинов
