.row.footer-menu
    .col-3.footer-menu__col
        h5.footer-menu__h Информация
        ul.list-group.footer_li-gr
            li.list-group-item.footer_li-gr-item
                a.link.link-wh(href="#") Компания
            li.list-group-item.footer_li-gr-item
                a.link.link-wh(href="#") Портфолио
            li.list-group-item.footer_li-gr-item
                a.link.link-wh(href="#") Проектирование
            li.list-group-item.footer_li-gr-item
                a.link.link-wh(href="#") Ресторанам
            li.list-group-item.footer_li-gr-item
                a.link.link-wh(href="#") Застройщикам
            li.list-group-item.footer_li-gr-item
                a.link.link-wh(href="#") Госзаказчикам
            li.list-group-item.footer_li-gr-item
                a.link.link-wh(href="#") Таблет-питание
            li.list-group-item.footer_li-gr-item
                a.link.link-wh(href="#") Сервис
            li.list-group-item.footer_li-gr-item
                a.link.link-wh(href="#") Новости
            li.list-group-item.footer_li-gr-item
                a.link.link-wh(href="#") Контакты
    .col-3.footer-menu__col
        h5.footer-menu__h Обороудование
        ul.list-group.footer_li-gr
            li.list-group-item.footer_li-gr-item
                a.link.link-wh(href="#") Тепловое
            li.list-group-item.footer_li-gr-item
                a.link.link-wh(href="#") Холодильное
            li.list-group-item.footer_li-gr-item
                a.link.link-wh(href="#") Электромеханическое
            li.list-group-item.footer_li-gr-item
                a.link.link-wh(href="#") Посудомоечное
            li.list-group-item.footer_li-gr-item
                a.link.link-wh(href="#") Барное
            li.list-group-item.footer_li-gr-item
                a.link.link-wh(href="#") Хлебопекарное
            li.list-group-item.footer_li-gr-item
                a.link.link-wh(href="#") Линии раздачи
            li.list-group-item.footer_li-gr-item
                a.link.link-wh(href="#") Нейтральное
            li.list-group-item.footer_li-gr-item
                a.link.link-wh(href="#") Фастфуд
            li.list-group-item.footer_li-gr-item
                a.link.link-wh(href="#") Весовое
    .col-3.footer-menu__col
        h5.footer-menu__h Предложения
        ul.list-group.footer_li-gr
            li.list-group-item.footer_li-gr-item
                a.link.link-wh(href="#") Кафе, барам, ресторанам
            li.list-group-item.footer_li-gr-item
                a.link.link-wh(href="#") Детским садам и школам
            li.list-group-item.footer_li-gr-item
                a.link.link-wh(href="#") Таблет-питание
            li.list-group-item.footer_li-gr-item
                a.link.link-wh(href="#") Для кондитерских
            li.list-group-item.footer_li-gr-item
                a.link.link-wh(href="#") Для пицерий
            li.list-group-item.footer_li-gr-item
                a.link.link-wh(href="#") Для магазинов
            li.list-group-item.footer_li-gr-item
                a.link.link-wh(href="#") Для воинских частей
            li.list-group-item.footer_li-gr-item
                a.link.link-wh(href="#") Все предложения
    .col-3.footer-menu__col
        h5.footer-menu__h Контакты
        ul.list-group.footer_li-gr
            li.list-group-item.footer_li-gr-item
                ul.footer-menu__contacts-ul
                    li 8 495 150-31-71
                    li 8 800 500-43-44
                    li звонок бесплатный
            li.list-group-item.footer_li-gr-item
                ul.footer-menu__contacts-ul
                    li Пн-Пт
                    li 09:00 до 18:00
            li.list-group-item.footer_li-gr-item
                ul.footer-menu__contacts-ul
                    li com@stolovaya.ru
                    li info@stolovaya.ru
            li.list-group-item.footer_li-gr-item
                ul.footer-menu__contacts-ul
                    li 111542, Москваб
                    li Рязанский проспект 24к2
